/*  Choco Fly Game CSS */
/*  v1.0.0 */


@font-face {
    font-family: 'Toonish';
    src: url('../fonts/toonish-webfont.eot');
    src: url('../fonts/toonish-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/toonish-webfont.woff2') format('woff2'),
         url('../fonts/toonish-webfont.woff') format('woff'),
         url('../fonts/toonish-webfont.ttf') format('truetype'),
         url('../fonts/toonish-webfont.svg#toonishregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  background: #000;
  width: 100%;
  height: 100%;
  font-family: Ubuntu;
}

#viewport{  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 1280px;
  height: 720px;
}

.abs{
  position: absolute;
}

#loading{
  position: absolute;
  z-index: 1000;
  background: url('../images/loading.gif') 50% 50% no-repeat;
  width: 100%;
  height: 100%;
  display: none;
}

.screen{  
  left: 0;
  top: 0;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.screen.active{
  display: block;
}

progress{
  position: absolute;
  left: 0;
  bottom: 5%;
  right: 0;
  margin: auto;
  display: block;
  z-index: 2000;
}

#screen-intro{
  background: url('../images/intro_background.png') 50% 50% no-repeat;
  background-size: contain;
}

#screen-intro > div{
  visibility: hidden;
}

#hazisweets{
  background: url('../images/intro.png') -322px 0px no-repeat;
  width: 804px;
  height: 311px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
}

#choco{
  background: url('../images/intro.png') 0px -311px no-repeat;
  width: 750px;
  height: 369px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
}

#tucan{
  background: url('../images/intro.png') 0px 0px no-repeat;
  width: 335px;
  height: 230px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 204px;
}

#screen-start{
  background: url('../images/bg_day.png') 0% 0% repeat-x;
}

.ground-day{
  position: absolute;
  background: url('../images/terrain.png') 0 0 no-repeat;
  bottom: 0;
  width: 100%;
  height: 103px;
}

.mountain-day{
  position: absolute;
  background: url('../images/terrain.png') 0 -211px no-repeat;
  bottom: 70px;
  left: 252px;
  width: 646px;
  height: 400px;
}

.tree-day{
  position: absolute;
  background: url('../images/trees.png') no-repeat;
  bottom: 70px;
}

.tree1{  
  background-position: -215px 0px;  
  left: 232px;
  width: 215px;
  height: 157px;
}

.tree2{
  background-position: -245px -160px;
  left: 760px;
  width: 245px;
  height: 246px;
}

.cloud-day{
  position: absolute;
  background: url('../images/clouds.png') no-repeat;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: cloud;
  animation-timing-function: linear;
}

.cloud1{
  background-position: 0px 0px;
  width: 627px;
  height: 72px;
  top: 100px;
  left: 100px;
}

.cloud2{
  background-position: -494px -79px;
  width: 264px;
  height: 28px;
  top: 300px;
  left: 0px;
}

.cloud3{
  background-position: -619px 0px;
  width: 304px;
  height: 60px;
  top: 200px;
  left: 700px;
}

.cloud4{
  background-position: 0px -80px;
  width: 496px;
  height: 80px;
  top: 400px;
  left: 800px;
}

#start_hazisweets{
  width: 200px;
  height: 76px;
  background: url('../images/start_hazisweets.png') 0% 0% no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
}

#start_logo{
  width: 566px;
  height: 315px;
  background: url('../images/logos.png') 0% 0% no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;
}

#start_button{
  width: 676px;
  height: 197px;
  background: url('../images/uielements.png') 0% -410px no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 384px;
  margin: auto;
}

@keyframes cloud
{
    from {transform: translateX(1200px);}
    to {transform: translateX(-1200px);}
}